/*Load custom fonts */
.font-seriff{
  font-family: 'Merriweather', serif;
}
.font-sans{
  font-family: 'Oswald', sans-serif;
}

.bg-header {
  background: url(https://picsum.photos/1920/1920/?random) center center no-repeat;
  background-attachment: fixed;
}

.bg-header2 {
  background: url(images/ASA2.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg-header3 {
  background: url(images/ASA3.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg-header4 {
  background: url(images/ASA4.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg-quote {
  background: url(images/ASA1.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 80% 80%;
}

.bg-quote2 {
  background: url(images/ASA5.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg-quote3 {
  background: url(images/ASA6.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg-quote4 {
  background: url(images/ASA7.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.video-title {
  background: #000;
}

@media only screen and (min-width : 768px) {
  .video-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
  }

  .video-wrapper video {
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;
  }

  .video-title {
    background-color: rgba(0,0,0, .7);
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }
}
var colors = {
  'transparent': 'transparent',

  'white-darkest': '#E0CBA8',
  'grey-darkest': '#364349',
  
  // ...
}

module.exports = {
  colors: colors,
  textColors: colors,
  backgroundColors: colors,
  borderColors: Object.assign({ default: colors['black'] }, colors),

  // ...
}




